{% extends 'admin/layout.user.html.twig' %}

{% block body_id 'admin_post_index' %}

{% block main %}
    <h1>{{ 'title.user_list'|trans }}</h1>

    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col"class="text-left"><i class="fa fa-list" aria-hidden="true"></i>{{ 'label.fullname'|trans }}</th>
                <th scope="col" class="text-center"><i class="fa fa-user" aria-hidden="true"></i> {{ 'label.username'|trans }}</th>
                <th scope="col" class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i> {{ 'label.email'|trans }}</th>
                <th scope="col" class="text-right"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in paginator.results %}
            <tr>
                <td>{{ user.fullName }}</td>
                <td class="text-center">{{ user.username }}</td>
                <td class="text-center">{{ user.email }}</td>
                <td class="text-right">
                    <div class="item-actions">
                        {{ include('user/_delete_post_confirmation.html.twig') }}
                        <form action="{{ url('lab_admin_user_delete', {id: user.id}) }}" method="post" data-confirmation="true" id="delete-form">
                            <a href="{{ path('lab_admin_user_edit', {id: user.id}) }}" class="btn btn-sm btn-default">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                            </a>
                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                {{ 'action.delete_user'|trans }}
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'accessory.no_accessories_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="section actions">
        <a href="{{ path('lab_admin_user_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_user'|trans }}
        </a>
    </div>
    {% if paginator.hasToPaginate %}
        <div class="navigation text-center">
            <ul class="pagination">
                {% if paginator.hasPreviousPage %}
                    <li class="prev"><a
                                href="{{ path('lab_admin_index_paginated', {page: paginator.previousPage, tag: tagName}) }}"
                                rel="previous"><i class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}
                        </a></li>
                {% else %}
                    <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> {{ 'paginator.previous'|trans }}</span>
                    </li>
                {% endif %}

                {% for i in 1..paginator.lastPage %}
                    {% if i == paginator.currentPage %}
                        <li class="active"><span>{{ i }} <span
                                        class="sr-only">{{ 'paginator.current'|trans }}</span></span></li>
                    {% else %}
                        <li><a href="{{ path('lab_admin_index_paginated', {page: i, tag: tagName}) }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if paginator.hasNextPage %}
                    <li class="next"><a
                                href="{{ path('lab_admin_index_paginated', {page: paginator.nextPage, tag: tagName}) }}"
                                rel="next">{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></a></li>
                {% else %}
                    <li class="next disabled"><span>{{ 'paginator.next'|trans }} <i
                                    class="fa fw fa-arrow-right"></i></span></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
