<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{ 'rss.title'|trans }}</title>
        <description>{{ 'rss.description'|trans }}</description>
        <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
        <link>{{ url('lab_index') }}</link>
        <language>{{ app.request.locale }}</language>

        {% for accessory in paginator.results %}
            <item>
                <title>{{ accessory.name }}</title>
                <manufacturer>{{ accessory.manufacturer }}</manufacturer>
                <model>{{ accessory.model }}</model>
                <description>{{ accessory.content }}</description>
                <url>{{ accessory.url }}</url>
                <quantity>{{ accessory.quantity }}</quantity>
                {% for tag in accessory.tags %}
                    <category>{{ tag.name }}</category>
                {% endfor %}
            </item>
        {% endfor %}
    </channel>
</rss>
