{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('lab_admin_users') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'menu.accessory_list'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('lab_index') }}">
            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.back_to_lab'|trans }}
        </a>
    </li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
